.slider{
    margin: 0 auto;
    width: 100%;
    height: 540px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 540px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

.first{
    background: url("/grupo_j.eldorado/public/img/banner/banner1marmoraria.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second{
    background: url("/grupo_j.eldorado/public/img/banner/banner2blur.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.third{
    background: url("/grupo_j.eldorado/public/img/banner/banner3marmoraria.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.four{
    background: url("/grupo_j.eldorado/public/img/banner/banner4marmorariablur.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.botao {
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}